{% extends 'users/base.html' %}
{% block content %}
<!-- title -->
<h1>
            <span>J</span>ohn
            <span>R</span>ecover
            <span>P</span>assword
            <span>F</span>orm
        </h1>
<!-- //title -->
<!-- content -->
<div class="sub-main-w3">
    <form class="login" action="#" method="post">
        {% csrf_token %}
        <p class="legend">Recover Password Here<span class="fas fa-hand-point-down"></span></p>
        <div class="error">
            {{ form.non_field_errors }}
        </div>
        {% for field in form %}
        <div class="input">
            <div class="error">
                {{ field.errors }}
            </div>
            {{ field }}
            <span class="fas fa-envelope"></span>
        </div>
        {% endfor %}
        <button type="submit" class="submit">
            <span class="fas fa-sign-in-alt"></span>
        </button>
    </form>
    <div class="forgot">
        <p>Remembered Password? <a href="{% url 'login' %}">Login here.<a></p>
    </div>
    <hr>
    <div class="forgot">
        <p>Need an account? <a href="{% url 'register' %}">Get one here.<a></p>
    </div>
</div>
<!-- //content -->
</div>
{% endblock content %}