/*
    header and navigations
*/

 header {
     width: 100%;
     background: #FDF9F3;
     height: 46px;
     border-bottom: 1px solid #E5E5E5;
     z-index: 1000;
 }

 header .header-content {
     height: auto;
     max-width: 1290px;
     position: absolute;
     top: -15px;
     left: 0;
     right: 0;
     width: 100%;
 }

 @media only screen and (max-width:400px) {
     header {
         height: 65px;
     }

 }



 header .logo {
     position: absolute;
     left: 5px;
     top: 20px;
     z-index: 601;
     background: #FDF9F3;
     padding: 10px;
     border-radius: 5px;
 }

 header .logo a {
     display: block;
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
     width: 140px;
     height: 110px;
     font: 0/0 a;
	text-shadow: none;
	color: transparent;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
 }

 .fixed {
     position: fixed;
     top: 0;
     width: 100%;
 }
#main-nav-wrap {
	display: table;
	float: right;
	padding-right: 75px;
	font-family: "montserrat-regular", sans-serif;
	font-size: 15px;
	height: 85px;
}
.main-navigation {
	display: table-cell;
	vertical-align: middle;
	list-style: none;
}

.main-navigation li {
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 22px;
	padding: 0;
}

.main-navigation li:last-child {
	margin-right: 0;
}
.main-navigation li a {
	display: block;
	padding-bottom: 9px;
	border: none;
}
 .main-navigation li a {
     color: #025893;
 }

 .main-navigation li a:hover {
     color: #0ff;
 }
.main-navigation li > a {
	border-bottom: 2px solid transparent;
}
 .main-navigation li.current>a {
     border-top: 2px solid #0ff;
     color: #0ff;
     font-family: "montserrat-bold", sans-serif;
 }
.main-navigation ul {
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0;
	background: #f4f4f4;
	border-radius: 0 0 3px 3px;
	font-size: 11px;
	z-index: 500;
	display: none;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.main-navigation ul ul {
	position: absolute;
	top: 0;
	left: 100%;
	left: calc(100% + 1px);
	border-radius: 0 3px 3px 3px;
}

.main-navigation ul li {
	display: block;
	text-align: left;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	min-height: 48px;
	width: 100%;
}

.main-navigation ul li:last-child {
	border: none;
}

.main-navigation ul li a {
	white-space: nowrap;
	padding: 16.5px 25px;
	font-family: "muli-regular", sans-serif;
	font-size: 14px;
	line-height: 15px;
	display: block;
	color: #8E8E8E;
}
.main-navigation ul li a:hover {
	background: transparent;
	color: #000000;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.sfHover > ul {
	display: block;
}

 .header-content .wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .header-content .wrapper .search_box {
     width: 70%;
     position: relative;
     top: 18px;
     left: 42px;
 }

 .header-content .wrapper .search_box input[type="text"] {
     width: 100%;
     height: 35px !important;
     padding: 10px;
     padding-right: 60px;
     box-sizing: border-box;
     background: rgba(0, 0, 0, 0.3);
     border: 2px solid #fff;
     border-radius: 10px;
     font-size: 1.5rem;
     color: #025893;
     outline: none;
 }

 .header-content .wrapper .search_box button{
    width: 15px;
    height: 25px;
    position: absolute;
    background: transparent;
 }

 .header-content .wrapper .search_box button svg#search {
    width: 25px;
    height: 25px;
 }

 .header-content .wrapper .search_box button, .header-content .wrapper .search_box button svg#search{
     position: absolute;
     top: 35%;
     transform: translateY(-50%);
     right: 10px;
     color: #025893;
     font-size: 2.0rem;
 }

 @media screen and (max-width: 425px) {
     .header-content .wrapper .search_box {
         width: 95%;
     }
 }

 ::-webkit-input-placeholder {
     /* Chrome/Opera/Safari */
     color: #025893;
 }

 ::-moz-placeholder {
     /* Firefox 19+ */
     color: #025893;
 }

 :-ms-input-placeholder {
     /* IE 10+ */
     color: #025893;
 }
 .main-navigation li a svg {
     width: 33px;
     height: 33px;
     display: block;
     position: relative;
     top: 4px;
     padding-bottom: 9px;
     color: #898989;
     border: none;
 }

.main-navigation li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0;
    left: 0;
    background-color: #025893;
    color: #0ff;
    display: none;
}

.main-navigation .display {
     width: 118px;
     padding: 0px 0px 3px 0px;
     height: 30px;
     text-align: center;
     text-transform: uppercase;
     font-weight: bold;
     border-radius: 6px;
     border: 2px solid #025893;
     color: #000000;
     background: #0ff;
     overflow: hidden;
 }

 .main-navigation .display a:hover {
     background: #025893;
     color: #0ff;
     transition: all 0.8s;
 }

.main-navigation li:hover > ul, .main-navigation li:focus-within > ul, .main-navigation li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    color: #0ff;
}

.main-navigation li ul li{
    clear: both;
    width: 100%;
    color: #0ff;
}



 .card {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .home-single {
     text-align: justify;
     margin: 0;
 }

 .home-single .author-profile {
     margin-top: 2rem;
     padding-left: 7rem;
     text-align: justify;
     position: relative;
     z-index: 600;
 }

 .home-single .author-profile a,
 .home-single .author-profile a:visited {
     color: #0ff;
 }

 .home-single .author-profile img {
     margin: 0.3rem 0 0 0 !important;
     width: 6rem;
     height: 6rem;
     border-radius: 50%;
     position: absolute;
     left: 0;
     top: 0;
 }

 .home-single .author-profile p {
     font-style: italic;
 }

 .ml-4 {
     margin-left: 1.5rem !important;
 }

 .home-single .tags {
    padding-top: -2.0rem;
     margin: 0 0 1rem;
 }

 .home-single .tags span {
     color: #0ff;
     margin-right: 1rem;
     font-size: 1.5rem;
     font-family: "montserrat-bold", sans-serif;
 }

 .home-single .tags a {
     color: #025893;
     margin-right: 1rem;
 }

 .go-top {
     font-style: strong;
     position: relative;
     top: .5rem;
 }

 .go-top svg {
     width: 25px;
     height: 25px;
 }

 .wmd-wrapper {
     display: block;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
 }

 /*.wmd-preview{
    width: 50%;
}*/
 .go-bottom {
     position: relative;
     top: -2.5rem;
 }

 .go-bottom svg {
     width: 25px;
     height: 25px;
 }

 .go-bottom .views,
 .go-bottom .comments,
 .go-bottom .read {
     display: flex;
 }

 .home-single .go-top {
     font-style: strong;
     position: relative;
     top: .5rem;
 }

 .home-single .go-bottom {
     display: flex;
     position: relative;
     top: -2.5rem;
 }

 .home-single .go-bottom svg {
     width: 25px;
     height: 25px;
 }

 .button.button-danger,
 a.button.button-danger,
 button.button-danger,
 input[type="submit"].button-danger,
 input[type="reset"].button-danger,
 input[type="button"].button-danger {
     background-color: #ffd1d2;
     color: #000000;
 }

 .button.button-danger:hover,
 a.button.button-danger:hover,
 button.button-danger:hover,
 input[type="submit"].button-danger:hover,
 input[type="reset"].button-danger:hover,
 input[type="button"].button-danger:hover,
 .button.button-danger:focus,
 button.button-danger:focus,
 input[type="submit"].button-danger:focus,
 input[type="reset"].button-danger:focus,
 input[type="button"].button-danger:focus {
     background: red;
 }


 #content-wrap {
     margin-top: 1.2rem;
 }

 #content-wrap {
     z-index: 590;
 }

 

 @media only screen and (max-width:768px) {
     .card {
         box-shadow: 0 .5px 1px 0 rgba(0, 0, 0, 0.2), 0 0.75px 2.5px 0 rgba(0, 0, 0, 0.19);
         padding: 1em;
     }

     .home-single .author-profile p {
         font-size: 1.3rem;
     }

     .main-navigation .display {
         display: none;
     }

     #main-nav-wrap {
         padding-right: 50px;
     }

     .main-navigation ul ul {
         right: 100%;
         right: calc(100% - 1px);
     }

     header .logo {
         left: 0px;
     }
 }

 @media only screen and (max-width:516px) {
     header .logo {
         left: -45px;
     }
 }
.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    letter-spacing: .3rem;
    height: 3.4rem;
    line-height: 3.4rem;
    background: #0ff;
    color: black;
    border-radius: 10px;
}
 
 .button:hover,
 a.button:hover,
 button:hover,
 input[type="submit"]:hover,
 input[type="reset"]:hover,
 input[type="button"]:hover,
 .button:focus,
 button:focus,
 input[type="submit"]:focus,
 input[type="reset"]:focus,
 input[type="button"]:focus {
     background: #025893;
     color: #0ff;
     transition: all 0.8s;
 }

 .pagination .page-numbers:hover {
     background: #025893;
     color: #0ff;
 }

 .pagination .current,
 .pagination .current:hover {
     background-color: #025893;
     color: #0ff;
 }

 a {
     background: transparent;
 }

 a:active,
 a:hover {
     outline: 0;
 }



 #mylogo a:hover #Layer_1 {
     transform: scale(1.1);
     transform-origin: center;
     -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
     animation: heartbeat 1.5s ease-in-out infinite both;
 }

 /* ----------------------------------------------
 * animation heartbeat
 * Generated by Animista on 2019-3-24 18:51:13
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 @-webkit-keyframes heartbeat {
     from {
         -webkit-transform: scale(1);
         -webkit-transform-transform: scale(1);
         -webkit-transform-origin: center center;
         -webkit-transform-origin-transform-origin: center center;
         -webkit-animation-timing-function: ease-out;
         -webkit-animation-timing-function-animation-timing-function: ease-out;
     }

     10% {
         -webkit-transform: scale(0.91);
         -webkit-transform-transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         -webkit-animation-timing-function-animation-timing-function: ease-in;
     }

     17% {
         -webkit-transform: scale(0.98);
         -webkit-transform-transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         -webkit-animation-timing-function-animation-timing-function: ease-out;
     }

     33% {
         -webkit-transform: scale(0.87);
         -webkit-transform-transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         -webkit-animation-timing-function-animation-timing-function: ease-in;
     }

     45% {
         -webkit-transform: scale(1);
         -webkit-transform-transform: scale(1);
         -webkit-animation-timing-function: ease-out;
         -webkit-animation-timing-function-animation-timing-function: ease-out;
     }
 }

 @keyframes heartbeat {
     from {
         -webkit-transform: scale(1);
         -webkit-transform-transform: scale(1);
         -webkit-transform-origin: center center;
         -webkit-transform-origin-transform-origin: center center;
         -webkit-animation-timing-function: ease-out;
         -webkit-animation-timing-function-animation-timing-function: ease-out;
     }

     10% {
         -webkit-transform: scale(0.91);
         -webkit-transform-transform: scale(0.91);
         -webkit-animation-timing-function: ease-in;
         -webkit-animation-timing-function-animation-timing-function: ease-in;
     }

     17% {
         -webkit-transform: scale(0.98);
         -webkit-transform-transform: scale(0.98);
         -webkit-animation-timing-function: ease-out;
         -webkit-animation-timing-function-animation-timing-function: ease-out;
     }

     33% {
         -webkit-transform: scale(0.87);
         -webkit-transform-transform: scale(0.87);
         -webkit-animation-timing-function: ease-in;
         -webkit-animation-timing-function-animation-timing-function: ease-in;
     }

     45% {
         -webkit-transform: scale(1);
         -webkit-transform-transform: scale(1);
         -webkit-animation-timing-function: ease-out;
         -webkit-animation-timing-function-animation-timing-function: ease-out;
     }
 }


 .tooltip {
     position: relative;
     display: inline-block;
 }

 /* Tooltip text */
 .tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     top: 100%;
     left: 50%;
     margin-left: -60px;
     background-color: #025893;
     color: #0ff;
     text-align: center;
     padding: 5px 0;
     border-radius: 6px;

     /* Position the tooltip text - see examples below! */
     position: absolute;
     z-index: 1;
 }

 .tooltip .tooltiptext::after {
     content: " ";
     position: absolute;
     bottom: 100%;
     /* At the top of the tooltip */
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: transparent transparent black transparent;
 }

 /* Show the tooltip text when you mouse over the tooltip container */
 .tooltip:hover .tooltiptext {
     visibility: visible;
 }

 @media only screen and () {
     header .logo a {
         width: 120px;
         height: 100px;
     }
 }

 @media only screen and (max-width:1161px) {

     header .logo {
         position: absolute;
         left: 0;
         top: 10px;
         z-index: 601;
         background: #FDF9F3;
         padding: 3px;
         border-radius: 5px;
     }

     header .logo a {
         width: 90px;
         height: 60px;
     }
 }


#content-wrap .primary-content .page-title{
    font-size: 2.6rem;
 }
 .card{
    padding-top: 2rem;
 }



 .blog-single .author-profile .author-social li a svg{
    width: 25px;
    height: 25px;
}

.comment-reply{
    display: none;
}


/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+css-extras+diff&plugins=line-highlight+line-numbers+toolbar+highlight-keywords+inline-color+command-line+show-language+copy-to-clipboard+diff-highlight */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #f8f8f2;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: #e6db74;
}

.token.keyword {
    color: #66d9ef;
}

.token.regex,
.token.important {
    color: #fd971f;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em; /* Same as .prism’s padding-top */

    background: hsla(24, 20%, 50%,.08);
    background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));

    pointer-events: none;

    line-height: inherit;
    white-space: pre;
}

    .line-highlight:before,
    .line-highlight[data-end]:after {
        content: attr(data-start);
        position: absolute;
        top: .4em;
        left: .6em;
        min-width: 1em;
        padding: 0 .5em;
        background-color: hsla(24, 20%, 50%,.4);
        color: hsl(24, 20%, 95%);
        font: bold 65%/1.5 sans-serif;
        text-align: center;
        vertical-align: .3em;
        border-radius: 999px;
        text-shadow: none;
        box-shadow: 0 1px white;
    }

    .line-highlight[data-end]:after {
        content: attr(data-end);
        top: auto;
        bottom: .4em;
    }

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
    content: none;
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

    .line-numbers-rows > span {
        pointer-events: none;
        display: block;
        counter-increment: linenumber;
    }

        .line-numbers-rows > span:before {
            content: counter(linenumber);
            color: #999;
            display: block;
            padding-right: 0.8em;
            text-align: right;
        }

div.code-toolbar {
    position: relative;
    margin-bottom: .5em;
}

div.code-toolbar > .toolbar {
    position: absolute;
    top: .3em;
    right: .1em;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

div.code-toolbar:hover > .toolbar {
    opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
    opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
    display: inline-block;
}

div.code-toolbar > .toolbar a {
    cursor: pointer;
}

div.code-toolbar > .toolbar button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
    color: #1976D2;
    font-size: .8em;
    padding: 0 .5em;
    background: #f5f2f0;
    background: rgba(224, 224, 224, 0.2);
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    border-radius: .5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
    color: inherit;
    text-decoration: none;
}

span.inline-color {
    display: inline-block;
    height: 1.333ch;
    width: 1.333ch;
    margin: 0 .333ch;
    box-sizing: border-box;
    border: 1px solid white;
    outline: 1px solid black;
}

.command-line-prompt {
    border-right: 1px solid #999;
    display: block;
    float: left;
    font-size: 100%;
    letter-spacing: -1px;
    margin-right: 1em;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.command-line-prompt > span:before {
    color: #999;
    content: ' ';
    display: block;
    padding-right: 0.8em;
}

.command-line-prompt > span[data-user]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] $";
}

.command-line-prompt > span[data-user="root"]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] #";
}

.command-line-prompt > span[data-prompt]:before {
    content: attr(data-prompt);
}

pre.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight .token.deleted:not(.prefix) {
    background-color: rgba(255, 0, 0, .1);
    color: inherit;
    display: block;
}

pre.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight .token.inserted:not(.prefix) {
    background-color: rgba(0, 255, 128, .1);
    color: inherit;
    display: block;
}

.comments-wrap {
    background-color: #FDF9F3;
}

.commentlist li div.children {
    margin: 0;
    padding: 1.8rem 0 0 0;
}

/*.commentlist li div.children li {
    padding-left: 5%;
    padding-top: 1.8rem;
}*/


.shares{
    background: #FDF9F3;
    display: flex;
    margin-top: 9rem;
    padding-left: 9rem;
    position: relative;
    height: 6rem;
    border-radius: 10px;
}
.shares button{
    size: 40px 40px;
    background: transparent;
    padding: 0px;
}
.shares button svg{
    margin: 0.6rem 0 0 0 !important;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.shares .mr-4{
    margin-left: -2.5rem !important;
    position: absolute;
    top: 30% !important;
}

.shares .shares-social{
    display: table;
    list-style: none;
    margin-left: 0;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    vertical-align: middle;
    position: relative;
    top: 30%;
    left: 65%;
}
.shares .shares-social li {
    position: relative;
    display: inline-block;
}

.shares .shares-social li a svg{
    display: block;
    padding-bottom: 9px;
    border: none;
}
.shares .shares-social li a svg{
    height: 35px;
    width: 35px;
}
.drop-cap:first-letter {
    color: #0ff;
}
.mr-4{
    margin-right: 1.5rem !important;
}