{% extends 'blog/base.html' %}
{% block content %}
<section id="content-wrap" class="blog-single">
    <div class="row">
        <div class="col-twelve">
            <article class="format-standard">  
                <div class="primary-content">
                    <h1 class="page-title">Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
                </div>
            </article>
        </div>
    </div>
</section>

{% for post in posts %}
<section id="content-wrap" class="home-single">
    <div class="row">
        <div class="col-twelve">
            <div class="card">
                <article class="format-standard">
                    <div class="primary-content">
                        <h1 class="page-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h1>
                        <div class="author-profile">
                            <img src="{{ post.author.profile.image.url }}" alt="">
                            <div class="about">
                                <p class="go-top">Posted by <a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a> on {{ post.date_posted|date:"F d, Y " }} at {{ post.date_posted|time:"P" }}</p>
                                <p class="go-bottom"><i class="far fa-comment"></i> {{ post.comments }} comments <span class="ml-4"><i class="far fa-eye"></i>{{ post.views }} views</span><span class="ml-4"><i class="far fa-clock"></i>{{ post.readTime }} minutes read.</span>
                                </p>
                            </div>
                        </div>
                        <p class="tags">
                            <span>Tagged in :</span>
                            <a href="#">orci</a><a href="#">lectus</a><a href="#">varius</a><a href="#">turpis</a>
                        </p>{{ post.content }}<p>
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div> <!-- end row -->
</section>
{% endfor %}
{% if is_paginated %}
    <section id="content-wrap" class="home-single">
        <div class="row">
            <nav class="pagination">
                {% if page_obj.has_previous %}
                    <span class="page-numbers"><a href="?page=1">First</a></span>
                    <span class="page-numbers prev"><a href="?page={{ page_obj.previous_page_number }}">Prev</a></span>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="page-numbers current" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
                        <a class="page-numbers" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a class="page-numbers next" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="page-numbers last" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </nav>
        </div>
    </section>
{% endif %}
{% endblock content %}