{% extends 'base.html' %}
{% block header %}

{% endblock header %}
{% block content %}
<section id="content-wrap" class="site-page home-single">
    <div class="row">
        <div class="col-twelve">
            <form name="cForm" id="cForm" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 class="page-title center">Write A Post</h1>
                <fieldset>
                    {% for field in form %}
                    <div class="form-field">
                        {{ form.media }}
                        {{ field.label }}
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="submit button-primary full-width-on-mobile">Create Post</button>
                </fieldset>
            </form> <!-- end form -->
        </div> <!-- end col-six -->
        
    </div> <!-- end row -->
</section> <!-- end content -->
{% endblock content %}